body {
    padding-top: 60px;
}

.hero-unit {
    padding: 30px;
    margin-bottom: 24px;
}
.hero-unit h1 {
    font-size: 45px;
    margin-bottom: 12px;
}

.text-right {
    text-align: right;
}

section {
    margin-bottom: 24px;
}