/* For sticky top nav */

body {
    padding-top: 60px;
    background-color: #f5f5f5 !important;
}

#wrap {
    background-color: #ffffff;
}

/* Footer styles */

footer {
    font-size: 80%;
    background-color: #f5f5f5;
    padding: 10px 0;
}

/* General content styles */

.text-right {
    text-align: right;
}

section {
    margin-bottom: 24px;
}

pre code {
    background: none;
}

#osprojects [class^="icon-"],
#osprojects [class*=" icon-"] {
    vertical-align: baseline;
}

/* Contacts icons */

.contacts {
    background: url(/img/contacts/sprite.png) no-repeat;
    display: inline-block;
}

.contacts-github {
    width: 30px;
    height: 30px;
    background-position: -82px -41px;
}

.contacts-gmail {
    width: 30px;
    height: 30px;
    background-position: -82px -0px;
}

.contacts-linkedin {
    width: 30px;
    height: 30px;
    background-position: -41px -41px;
}

.contacts-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -0px -41px;
}

.contacts-tumblr {
    width: 30px;
    height: 30px;
    background-position: -41px -0px;
}

.contacts-twitter {
    width: 30px;
    height: 30px;
    background-position: -0px -0px;
}

/* Facebook comments (fluid?) */

.fb-comments {
    width: 100% !important;
}

.fb-comments span {
    width: 100% !important;
}

.fb-comments iframe {
    width: 100% !important;
}