---
layout: default
title: Matthew Cobbs, Detroit Web Developer
---

<!-- start .hero-unit -->
<div class="hero-unit">
    <h1>Matthew Cobbs</h1>
    <p>Matthew Cobbs is a 31-year-old web developer from Detroit. As both an in-house and freelance developer, he has several years of experience with planning, designing, developing, and maintaining websites. Matthew loves sushi, Almodovar, <em data-toggle="tooltip" title="Cormac McCarthy, Stephen King, Jack Kerouac, Jon Krakauer, Jane Austen&hellip;">good</em> fiction, and JavaScript. His current gig is with <a href="http://slashdot.org">Slashdot</a>, and he is <a href="#freelance" data-toggle="modal">available for freelance</a>.</p>

    <div>
        <div class="btn-group btn-contacts-wired hidden-phone hidden-tablet">
            <a href="mailto:draeton@gmail.com" class="btn btn-success">Email</a>
            <a href="http://github.com/draeton/" class="btn btn-primary">Github</a>
            <a href="http://www.linkedin.com/in/matthewcobbs/" class="btn btn-primary">LinkedIn</a>
            <a href="http://stackoverflow.com/users/230483/draeton" class="btn btn-info">Stack Overflow</a>
            <a href="http://twitter.com/draeton/" class="btn btn-info">Twitter</a>
            <a href="http://draeton.tumblr.com/" class="btn btn-info">Tumblr</a>
        </div>
    </div>

    <div>
        <div class="btn-group btn-contacts-mobile hidden-desktop">
            <a href="mailto:draeton@gmail.com" class="btn" title="Email"><i class="contacts contacts-gmail"></i></a>
            <a href="http://github.com/draeton/" class="btn" title="Github"><i class="contacts contacts-github"></i></a>
            <a href="http://www.linkedin.com/in/matthewcobbs/" class="btn" title="LinkedIn"><i class="contacts contacts-linkedin"></i></a>
            <a href="http://stackoverflow.com/users/230483/draeton" class="btn" title="Stack Overflow"><i class="contacts contacts-stackoverflow"></i></a>
            <a href="http://twitter.com/draeton/" class="btn" title="Twitter"><i class="contacts contacts-twitter"></i></a>
            <a href="http://draeton.tumblr.com/" class="btn" title="Tumblr"><i class="contacts contacts-tumblr"></i></a>
        </div>
    </div>
</div>
<!-- end .hero-unit -->

<div class="container-fluid">
    <div class="row-fluid">
        <section id="osprojects" class="span6">
            <h3>Open Source Projects</h3>

            <h4><i class="icon-briefcase"></i> <a href="/stitches">Stitches</a> <span class="label label-success">New Version</span><br/>
                <small>An HTML5 sprite generator.</small></h4>
            <h4><i class="icon-briefcase"></i> <a href="/lockdown">Lockdown</a><br/>
                <small>Obfuscates code snippets by writing them to the canvas.</small></h4>
            <h4><i class="icon-briefcase"></i> <a href="/tanchor">Tanchor</a><br/>
                <small>The (anchor) URL parsing library.</small></h4>
            <h4><i class="icon-briefcase"></i> <a href="/deeplink">Deeplink</a><br/>
                <small>Easy-peasy deeplinking manager.</small></h4>
        </section>

        <section id="blogposts" class="span6">
            <h3>Posts <a href="/archives.html" class="btn btn-mini btn-primary">Read all &raquo;</a></h3>

        {% for post in site.posts limit:6 %}

            <h5><a href="{{ post.url }}"
                {% if post.teaser %}
                    data-toggle="tooltip" data-placement="top" title="{{ post.teaser }}"
                {% endif %}
                >{{ post.title }}</a> <small>{{ post.date | date_to_string }}</small></h5>

        {% endfor %}
        </section>
    </div>
</div>

<!-- start section -->
<section id="comments">
    <div class="fb-comments" data-href="http://draeton.github.com/" data-num-posts="10" data-width="940"></div>
</section>
<!-- end section -->

<!-- start modal -->
<div id="freelance" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="freelanceTitle" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="freelanceTitle">Submit a project</h3>
    </div>
    <div class="modal-body">
        <p>Need help? <span class="muted">(Mind you, freelance doesn&rsquo;t mean free&hellip;)</span></p>

        <form class="form-horizontal" action="mailto:draeton@gmail.com" method="get">
            <input type="hidden" name="subject" value="draeton.github.com : projects"/>
            <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                    <input type="text" id="inputName" placeholder="Full Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">Project</label>
                <div class="controls">
                    <textarea rows="10" id="inputDescription"></textarea>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="freelanceSend" class="btn btn-primary" data-dismiss="modal">Send</button>
    </div>
</div>
<!-- end modal -->