---
layout: default
title: Matthew Cobbs, Detroit Web Developer
---

<!-- start .hero-unit -->
<div class="hero-unit">
    <h1>Matthew Cobbs <small>Detroit web developer</small></h1>

    <p>Matthew Cobbs is a 31 year-old web developer from Detroit. As both an in-house and
        freelance developer, he has several years of experience with planning, designing,
        developing, and maintaining websites. Matthew loves sushi, Almodovar, good fiction,
        and JavaScript.</p>

    <p><div class="btn-group">
        <a href="mailto:draeton@gmail.com" class="btn btn-success">Email</a>
        <a href="http://github.com/draeton/" class="btn btn-primary">Github</a>
        <a href="http://www.linkedin.com/in/matthewcobbs/" class="btn btn-info">LinkedIn</a>
        <a href="http://stackoverflow.com/users/230483/draeton" class="btn btn-info">Stack Overflow</a>
        <a href="http://twitter.com/draeton/" class="btn btn-info">Twitter</a>
        <a href="http://draeton.tumblr.com/" class="btn btn-info">Tumblr</a>
    </div></p>
</div>
<!-- end .hero-unit -->

<!-- start section -->
<section id="osprojects">
    <h2>Open Source Projects</h2>

    <h3><a href="/stitches">Stitches</a> <small>An HTML5 sprite generator.</small></h3>
    <h3><a href="/lockdown">Lockdown</a> <small>Obfuscates code snippets by writing them to the canvas.</small></h3>
    <h3><a href="/tanchor">Tanchor</a> <small>The (anchor) URL parsing library.</small></h3>
    <h3><a href="/deeplink">Deeplink</a> <small>Easy-peasy deeplinking manager.</small></h3>
</section>
<!-- end section -->

<!-- start section -->
<section id="blogposts">
    <h2>Posts</h2>

{% for post in site.posts limit:3 %}

    <h4><a href="{{ post.url }}"
        {% if post.teaser %}
            data-toggle="tooltip" data-placement="right" title="{{ post.teaser }}"
        {% endif %}
        >{{ post.title }}</a> <small>{{ post.date | date_to_string }}</small></h4>

{% endfor %}

    <h4><a href="/archives.html" class="btn btn-small btn-info">Read all posts &raquo;</a></h4>
</section>
<!-- end section -->

<!-- start section -->
<section id="comments">
    <div class="fb-comments" data-href="http://draeton.github.com/" data-num-posts="10" data-width="940"></div>
</section>
<!-- end section -->